@import "tailwindcss";

.app-background {
    background-color: #0f172a;
    /* slate-900 base */
    background-image:
        radial-gradient(at 40% 20%, rgba(59, 130, 246, 0.1) 0px, transparent 50%),
        radial-gradient(at 80% 80%, rgba(168, 85, 247, 0.1) 0px, transparent 50%);
}